/* ================================================================ */
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");

@import "_null";

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Helvetica";
	src: url("../fonts/HelveticaNeueCyr-Black.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

// ===================================================================================================================
//Если подключаем шрифты вручную

// @font-face {
// 	font-family: "CircularStd";
// 	src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// 	}

// ================================================================================================================

// &display=swap - дописываем если нету (когда используем подгрузку шрифтов через @import/link

//================================================================================================================

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

[class*="__container"] {
	margin: 0px auto;
	max-width: 1130px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="_ibg"] {

	position: relative;

	//высоту делим на ширину и множим на 100 = число%
	// padding: 0px 0px высота блока(px) 0px - на саму сслылку для картнки ставим!!!
	img {
		object-fit: cover;
		// object-position: center; - default
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}


// №1
@media (max-width: 1050px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

// №2
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

// №3
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: none;
	}
}

body {
	font-family: "Helvetica", sans-serif;
	font-size: 14px;
	color: #BFBFBF;
	background-color: #1A1A1A;
}

// ====================================================================================================================
.main {
	flex: 1 1 auto;

}

.header {}

.footer {}

// ====================================================================================================================


.header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 50;
	left: 0;

	&::after {
		content: "";
		display: flex;
		width: 100%;
		height: 2px;
		background: #FFFFFF;
		mix-blend-mode: normal;
		opacity: 0.1;
		position: absolute;
		top: 0;
		left: 0;
	}

	// .header__container

	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		min-height: 91px;
	}


	// .header__logo

	&__logo {
		flex: 0 0 207px;
	}

	// .header__image

	&__image {
		position: relative;
		top: -3px;
	}

	// .header__navigation

	&__navigation {}
}

.navigation {

	// .navigation__items

	&__items {
		display: flex;

		&>:not(:last-child) {
			margin-right: 45px;
		}
	}

	// .navigation__item-link

	&__item-link {}

	// .navigation__link

	&__link {
		color: #FFFFFF;
		line-height: 90px;
		font-weight: 700;

		&:hover {
			color: #34C759;
			transition: all 0.3s ease 0s;
		}
	}
}

.main {

	// .main__food

	&__food {
		position: relative;
		padding: 170px 0px 0px 0px;
		margin-bottom: 100px;
		position: relative;
		min-height: 1080px;
	}
}

.food {

	// .food_body

	&_body {
		position: relative;
		z-index: 5;
	}

	// .food_900

	&_900 {}

	// .food__container

	&__container {}
}

.food-block-top {
	margin-bottom: 70px;
	display: flex;
	flex-direction: column;
	align-items: center;



	// .food-block-top__title

	&__title {
		text-align: center;
		color: #FFFFFF;
		font-size: 72px;
		line-height: 84px;
		letter-spacing: 0.1em;
		text-transform: capitalize;
		margin-bottom: 16px;


	}

	// .food-block-top__900

	&__900 {
		font-weight: 900;
	}

	// .food-block-top__text

	&__text {
		margin-bottom: 40px;
		opacity: 0.7;
		color: #FFFFFF;
		letter-spacing: -0.2px;
		line-height: 162%;
		font-size: 16px;
		max-width: 595px;
	}

	// .food-block-top__button

	&__button {}
}

.button {
	color: #1A1A1A;
	letter-spacing: 0.2em;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
	padding: 26px 58px;
	background: #34C759;
	border-radius: 43px;

	&:hover {
		background: #17a93b;
		transition: 0.3s ease all;
	}
}

.food-block-bottom {


	// .food-block-bottom__cards

	&__cards {
		display: flex;
		flex-wrap: wrap;
		row-gap: 50px;
		justify-content: space-between;
		margin: 0 -93px;
	}

}


.card {
	padding: 0 93px;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1 1 33.333%;
	height: 100%;
	min-width: 240px;

	& *:not(:last-child) {
		margin-bottom: 12px;
	}

	// .card__image

	&__image {
		flex: 0 0 18px;
		height: 18px;
	}

	// .card__body

	&__body {}

	// .card__label

	&__label {
		color: #FFFFFF;
		line-height: 188%;

	}

	// .card__sublabel

	&__sublabel {
		color: #999999;
		font-size: 16px;

	}
}

.food {

	// .food_picture

	&_picture {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	// .food_image

	&_image {}

}

// =======================================================================

.main {

	// .main__basics

	&__basics {
		margin-top: -329px;

	}
}

.basics {

	// .basics__container

	&__container {
		display: flex;
		flex-direction: column;
		position: relative;
		z-index: 3;
		background: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		padding: 40px 0 90px 0;
	}

	// .basics__about

	&__about {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 90px;
	}

	// .basics__title-big

	&__title-big {
		position: relative;
		margin-bottom: 30px;
	}

	// .basics__text

	&__label-big {
		position: absolute;
		top: 82px;
		left: 50%;
		transform: translateX(-50%);
	}

	&__text {
		color: #A6A6A6;
		line-height: 188%;
		max-width: 760px;
		text-align: center;
		margin: 0 auto;
		font-size: 16px;
	}

	// .basics__pictures


	&__pictures {
		display: flex;
		padding: 0 185px;
		flex-wrap: wrap;
		row-gap: 30px;

		&>*:not(:last-child) {
			margin-right: 34px;
		}
	}

	// .basics__image

	&__image {
		flex: 0 0 350px;
	}
}

.title-big {
	line-height: 150%;
	font-weight: 900;
	font-size: 100px;
	color: #303030;
	text-transform: uppercase;
	opacity: 0.5;
	letter-spacing: 0.1em;

}

.label-big {
	letter-spacing: 0.2em;
	color: #D9D9D9;
	line-height: 200%;
	font-size: 30px;
	text-transform: capitalize;

}

// =======================================================================

.main {

	// .main__how

	&__how {
		padding: 90px 0 30px 0;
	}
}

.how {

	// .how__container

	&__container {}

	// .how__about

	&__about {
		display: flex;
		justify-content: center;
		position: relative;
		margin-bottom: 60px;

		&::after {
			content: "";
			width: 60px;
			height: 2px;
			background-color: #34C759;
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	// .how__title-big

	&__title-big {}

	// .how__title-label

	&__label-big {
		position: absolute;
		top: 45px;
		left: 50%;
		transform: translateX(-50%);
	}

	// .how__items

	&__items {
		
	}

	// .how__body

	&__body {
		display: flex;
		flex-wrap: wrap
		flex 1 0 25%;
		
	}


	.item {
		background-color: #252525;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border-radius: 6px;
		height: 100%;
		color: #FFFFFF;
		&:hover {
			background-color: #17a93b;
			transition: background-color 0.5s ease;
		}


		// .item__title

		&__title {
			font-size: 22px;
			line-height: 26px;
			letter-spacing: -0.275px;
			text-transform: capitalize;
			color: #FFFFFF;
		}

		// .item__text
		&__text {
			line-height: 138%;
			letter-spacing: -0.1625px;
			color: #FFFFFF;
			font-size: 13px;
		}
	}
}